$primary-color: #424242;
$accent-color: #7d2ae8;
$hover-color: #00ffab;
$active-color: #01865a;
$button-color: #fff;
$font-color: #0b0217;
$font-hover-color: #7d2ae8;
$border-color: #aaaaaa;
$gradient-start: #0f0c29;  // deep violet
$gradient-end: #302b63;    // muted purple
$gradient-accent: #24243e; // dark slate